
body {
  font-family: "Garamond", serif;;
  font-size: 16px;
  font-weight: 0.5;
  line-height: 1.6;
background-color: rgb(255, 255, 255);
text-align: center;
}

/* Заголовок */
header {
  padding: 20px; 
  background-color: rgb(255, 255, 255);
  text-align: center;

}

.frame{
  background-color: #c6d0ff;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.name {
  font-size: 24px;
  color: #202950;
}

.job-title {
  font-size: 18px;
  color: #202950;
}

/* Основной контент */
main {
  margin-top: 0px;
}

h3{
  background-color: #add1da3f;
  width: auto;
}


/* Контактная информация */
.icon{
width: 30px;
}
.contact-info {
  margin-bottom: 20px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 5px;
}

/* Обо мне */
.aboutme{
margin-top: 0px;
font-size: 20px;
}

/* Навыки */
.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-list li {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
}

/* Языки */
.languages-list {
  list-style-type: none;
  padding: 0;
}

.languages-list li {
  margin-bottom: 20px;
}

.language {
  font-size: 18px;
  margin-bottom: 5px;
}


footer {
  padding: 0px;
  text-align: center;
  background-color: #c6d0ff;
  height: 130px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#icon1{
border-radius: 50%;
}

